.btn {
  display: inline-block;
  width: 100%;
  padding: 30px 36px 31px 48px;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 57px;
  color: $color-light;
  text-decoration: none;
  text-align: center;
  background-color: $color-accent;
  border: none;
  border-radius: 6px;
}
