.catalogue {
  padding: 130px 0;
  background-color: $color-light;
  background-image: url(../../../www/imgs/);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  @media (max-width: $tablet-max) {
    padding: 120px 0x;
  }

  @media (max-width: $mobile-max) {
    padding: 90px 0x;
  }
}


.catalogue-inner {
  @include inner;
}


.catalogue-visual {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.catalogue-title {
  @include section-title;
}

.tabs {
  display: flex;
  list-style: none;
  margin-top: 80px;
  margin-bottom: 40px;
  justify-content: space-between;

  @media (max-width: $tablet-max) {
    // display: block;
    margin-top: 70px;
  }

  @media (max-width: $mobile-max) {
    // display: block;
    margin-top: 50px;
    margin-bottom: 30px;

  }
}

.tabs-item {
  padding-left: 25px;
  padding-right: 25px;

  a {
    font-size: 22px;
    line-height: 24px;
    text-transform: uppercase;
    text-decoration: none;
    color: $color-dark;

    &.active {
      color: $color-accent;
  }
}


  @media (max-width: $tablet-max) {
    padding-left: 15px;
    padding-right: 15px;
  }

  @media (max-width: $mobile-max) {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.catalogue-list {
  display: flex;
  list-style: none;
  margin-bottom: 120px;
  justify-content: space-between;
  margin-right: -$gap-half;
  margin-left: -$gap-half;

  @media (max-width: $tablet-max) {
    margin: 80px 0;
    flex-wrap: wrap;
  }

  @media (max-width: $mobile-max) {
    margin: 60px 0 80px;
    display: block;
  }
}

.catalogue-item {
  padding: 0 $gap-half;

  @media (max-width: $tablet-max) {
    flex-basis: 50%;
    margin-top: $gap-half;
    margin-bottom: $gap-half;

  }

  @media (max-width: $mobile-max) {}
}

.catalogue-wrap {
  position: relative;
}


.catalogue-img {

  display: block;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;


  @media (max-width: $tablet-max) {}

  @media (max-width: $mobile-max) {}
}


.catalogue-caption {
  position: absolute;
  bottom: 0;
  left: 10;
  width: 100%;
  padding: 15px 0;
  font-family: $font;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: $color-light;
  background-color: rgba(0, 0, 0, .4);

  @media (max-width: $tablet-max) {}

  @media (max-width: $mobile-max) {}
}
