.menu {
  ul {
    display: flex;
    list-style: none;
  }

  li {
    text-align: center;
    margin-left: 10px;
  }

  a {
    padding: 33px 25px;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: $color-light;
    text-decoration: none;

    &:hover {
      background-color: $color-accent;
    }
  }
}



