.menu {
  ul {
    display: flex;
    list-style: none;
  }

  li {
    text-align: center;
    margin-left: 10px;
  }

  a {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: $color-light;
    text-decoration: none;
    text-align: center;

    &:hover {
      color: $color-accent;
    }
  }
}

.menu-accent {
  padding: 33px 25px;
  background-color: $color-accent;

  a {
  &:hover {
    color: $color-dark;
  }
  }
}


.menu-wrap {
  padding: 33px 25px;
  text-align: center;
}
