.promo {
  padding: 200px 0 214px;
  background-color: $color-dark;
  background-image: url(../imgs/promo-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position:  center center fixed;

  @media (max-width: $tablet-max) {
    padding: 180px 0 190px;
  }

  @media (max-width: $mobile-max) {
    padding: 110px 0 100px;
  }
}


  .promo-inner {
    @include inner;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .promo-title {
    font-weight: 600;
    font-size: 72px;
    line-height: 98px;
    color: $color-light;
    margin-bottom: 100px;
    text-align: center;

    @media (max-width: $tablet-max) {
      padding: 180px 0 190px;
      font-size: 54px;
      line-height: 74px;
    }

    @media (max-width: $mobile-max) {
      margin-bottom: 80px;
      font-size: 32px;
      line-height: 44px;
    }
  }



