* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding-top: 88px;
  font-family: $font;

  @media (max-width: $mobile-max) {
    padding-top: 68px;
  }

}

img {
  display: block;
  width: 100%;
}

