@mixin inner($width: 1278px) {
  width: $width + $gap;
  margin: 0 auto;
  padding: 0 $gap-half;
  border: 1px solid $color-accent;
}

@mixin section-title {
  font-weight: 400;
  font-size: 64px;
  line-height: 87px;
  color: $color-dark;
  text-align: center;

  @media (max-width: $tablet-max) {
    font-size: 60px;
    line-height: 82px;
  }

  @media (max-width: $mobile-max) {
    font-size: 36px;
    line-height: 49px;
  }
}

@mixin logo {
  color: $color-light;
  font-family: $font-logo;
  font-weight: 600;
  font-size: 42px;
  line-height: 57px;
  text-decoration: none;

  @media (max-width: $tablet-max) {
    font-size: 36px;
    line-height: 49px;
  }

  @media (max-width: $mobile-max) {
    font-size: 28px;
    line-height: 38px;
  }
}
